.Button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  background-color: hsl(160, 100%, 50%);
}
.itemCard > img {
  min-width: 100%;
  min-height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0px 0px;
}
.itemCard {
  text-align: center;
  min-width: 250px;
  min-height: 300px;
  background-color: antiquewhite;
  border-radius: 25px;
  margin: 10px;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  position: relative;
}
.itemCard::-webkit-scrollbar {
  display: none;
}

.buttonGrpoup {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  bottom: 10px;
}
