.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-items: center;
}
:root {
  --background-color: radial-gradient(rgb(114, 95, 202), rgb(76, 59, 158));
  --green-color: rgb(19, 181, 36);
}
input {
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: black;
  width: 250px;
}
p {
  margin-bottom: 5px;
}
