.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-items: center;
}
:root {
  --green-color: rgb(73, 98, 145);
}
input {
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: black;
  width: 250px;
}
p {
  margin-bottom: 5px;
}
.spiner.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
